$primary-color : #4154f1 !important;
$second-primary : #717ff5 !important;
$third-primary : #0d6efd !important;
$fourth-primary : #012970 !important;
$fifth-primary : #0245bc !important;
$black-color : #444444 !important;
$white-color : #fff !important;
$lite-gray : #bababa !important;
$gray-color : #777 !important;
$transition: all .2s ease-in !important;
$box-shadow: 0px 0px 15px 0px rgba(65, 84, 241, .1);
